body {
    background-color: lemonchiffon;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0px;
}

.guess {
    width: 180px;
    text-align: center;
    float: right;
    background-color: red;
    align-self: flex-end;
    
}
.let {
    background-color: lemonchiffon;
    border-radius: 5px;
    font-size: 20px;
}
.pic {
    display: inline-block;
}
#submit-btn, #reset-btn, #resetScore-btn{
    width: 120px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}
#user-word {
    width: 220px;
    margin: 10px 50px;
    font-size: 20px;
}
h1{
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
.display {
    margin: 0px 5%;
    width: 185px;
    background-color: purple;
    
}
#input{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: blue;
    height: 350px;
}
#blanks {
    text-align: center;
}
.guessed-letters {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    width: 33.33%;
    background-color: pink;
    text-align: center;
    flex-direction: column;
}
#timer{
    background-color: green;
}
#score {
    background-color: orange;
}
.message {
    background-color: grey;
    width: 33.33%;
    padding: 10px;
}