body {
    background-color: #EB9486;
    display: flex;
    color: #F9F8F8;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0px;
}

.guess {
    width: 180px;
    text-align: center;
    float: right;
    background-color: #272838;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
    align-self: flex-end;
    width: 27%;
    padding: 10px;
    margin: 5px 0px 0px 0px;
}
.let {
    background-color: #F3DE8A ;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
}
.pic {
    display: inline-block;
    text-align:center;
}
#submit-btn, #reset-btn, #resetScore-btn{
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #F3DE8A;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
}
#user-word {
    width: 220px;
    margin: 10px 50px;
    font-size: 20px;
    background-color: #EB9486;
}
h1{
    text-align: center;
    width: 100%;
    background-color: #272838;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
    padding: 30px;
}
.display {
    width: 31%;
    border-radius: 5px;
    font-size: 25px;
    
}
#input{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding: 10px;
    text-align: center;
    background-color: #272838;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#blanks {
    text-align: center;
}
.guessed-letters {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    width: 32%;
    background-color: #272838;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
}
#timer{
    background-color: #272838;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
    width: 10%;
    margin: 5px 0px 0px 0px;
    padding: 10px;
    text-align: center;
}
#score {
    background-color: #272838;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
    width: 14%;
    margin: 0px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
}
.message {
    background-color: #272838;
    border: 5px solid #7E7F9A;
    border-radius: 5px;
    width: 39%;
    padding: 10px;
    margin: 5px 0px 0px 0px;
}
#missed-letters{
    font-size: 30px;
}
#mes{
    font-size: 25px;
}