body {
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
}

.guess {
    width: 180px;
    text-align: center;
}
.let {
    background-color: white;
}
.pic {
    display: inline-block;
}
#submit-btn {
    width: 100px
}
#reset-btn {
    width: 100px
}
#user-word {
    width: 200px;
}
h1{
    text-align: center;
}